---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Bottom from "../components/Bottom.astro";

const API_KEY = "AIzaSyDb5VVtVs1maGE67GIK9piR50zGfhyQhX8"; // Tu clave de API
const PLAYLIST_ID = "PLd5H3WeQcoq5IjpS0QsCkjKZrtRLdTaEU"; // ID de la lista de reproducción
const MAX_RESULTS = 15;

let videos = [];

async function fetchYouTubePlaylistVideos() {
  try {
    const response = await fetch(
      `https://www.googleapis.com/youtube/v3/playlistItems?key=${API_KEY}&playlistId=${PLAYLIST_ID}&part=snippet&maxResults=${MAX_RESULTS}`
    );
    const data = await response.json();
    if (data.items && data.items.length > 0) {
      videos = data.items.map((item) => ({
        id: item.snippet.resourceId.videoId,
        title: item.snippet.title,
        thumbnail: item.snippet.thumbnails.high.url,
        publishedAt: new Date(item.snippet.publishedAt).getTime(), // Convertir a milisegundos
      }));
    } else {
      console.error("No se encontraron videos en la respuesta de la API");
    }
  } catch (error) {
    console.error("Error fetching YouTube playlist videos:", error);
  }
}

await fetchYouTubePlaylistVideos();
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Prédicas - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Galería de prédicas grabadas de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <Bottom />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <h1 class="text-3xl font-bold text-center mt-8 text-white">Prédicas</h1>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8 max-w-6xl w-full"
      >
        {
          videos.length > 0 ? (
            videos.map((video) => (
              <div class="card">
                <a
                  href={`https://www.youtube.com/watch?v=${video.id}&list=${PLAYLIST_ID}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src={video.thumbnail}
                    alt={video.title}
                    class="w-full h-auto object-cover"
                  />
                  <h3 class="text-xl font-semibold mt-2">{video.title}</h3>
                </a>
              </div>
            ))
          ) : (
            <p class="text-white">Cargando videos...</p>
          )
        }
      </div>
      <a
        href={`https://www.youtube.com/playlist?list=${PLAYLIST_ID}`}
        target="_blank"
        rel="noopener noreferrer"
        class="align-self-center mt-5"
      >
        <div class="see-more-card">Ver más</div>
      </a>
    </main>
    <Footer />
  </body>
</html>

<style>
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    border-radius: 1rem;
  }

  .card h3 {
    margin: 0.5rem 0;
  }

  .card p {
    color: rgba(255, 255, 255, 0.7);
  }

  .see-more-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .see-more-card:hover {
    transform: scale(1.05);
  }

  .see-more-card a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
