---
import "../styles/components/carousel.css";
const { images } = Astro.props;
---

<div class="carousel">
  <div
    class="carousel-inner"
    id="carousel-inner"
    style="transform: translateX(-100%);"
  >
    <!-- Duplicar la última imagen al inicio -->
    <div class="carousel-item">
      <img
        src={images[images.length - 1].src}
        alt={images[images.length - 1].alt}
        class="w-full h-full object-cover rounded-lg shadow-lg"
        loading="lazy"
      />
      <div class="carousel-title-container">
        <h3 class="carousel-title">{images[images.length - 1].title}</h3>
      </div>
      <div class="progress-shadow"></div>
    </div>

    {
      images.map((image, index) => (
        <div class="carousel-item" key={index}>
          <img
            src={image.src}
            alt={image.alt}
            class="w-full h-full object-cover rounded-lg shadow-lg"
            loading="lazy"
          />
          <div class="carousel-title-container">
            <h3 class="carousel-title">{image.title}</h3>
          </div>
          <div class="progress-shadow" />
        </div>
      ))
    }

    <!-- Duplicar la primera imagen al final -->
    <div class="carousel-item">
      <img
        src={images[0].src}
        alt={images[0].alt}
        class="w-full h-full object-cover rounded-lg shadow-lg"
        loading="lazy"
      />
      <div class="carousel-title-container">
        <h3 class="carousel-title">{images[0].title}</h3>
      </div>
      <div class="progress-shadow"></div>
    </div>
  </div>
  <button
    class="carousel-button left"
    id="prevButton"
    aria-label="Previous slide"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>
  <button class="carousel-button right" id="nextButton" aria-label="Next slide">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
></script>
<script src="../js/carousel.js"></script>
