---
import "../styles/components/event.css";
const events = [
  {
    id: 1,
    imgSrc: "/events/6.webp",
    alt: "Anuncio",
    link: "/events/futures/arca",
    title: "Musical El Arca de salvación",
  },
  {
    id: 2,
    imgSrc: "/colombianPray/1.webp",
    alt: "Anuncio",
    link: "/events/last/galleryColombianPray",
    title: "Oración por Colombia",
  },
  {
    id: 3,
    imgSrc: "/img/Belgica.webp",
    alt: "Anuncio",
    link: "/ministries/missions/belgica",
    title: "Oración misionera por Belgica",
  },
  {
    id: 4,
    imgSrc: "/prayerFathers/16.webp",
    alt: "Anuncio oracion por los padres",
    link: "/events/last/galleryFathers",
    title: "Oración por los padres",
  },
  {
    id: 5,
    imgSrc: "/events/1.webp",
    alt: "Anuncio encuentro con jesus 2024",
    link: "/events/last/galleryEncuentro",
    title: "Encuentro con Jesús 2024",
  },
  {
    id: 6,
    imgSrc: "/youths/1.webp",
    alt: "Anuncio",
    link: "/ministries/youths/youth",
    title: "De Jovenes para Jovenes",
  },
  {
    id: 7,
    imgSrc: "/concert/7.webp",
    alt: "Anuncio concierto bautizados en fuego",
    link: "/events/last/galleryConcert",
    title: "Concierto Bautizados en fuego",
  },
  {
    id: 8,
    imgSrc: "/events/3.webp",
    alt: "Anuncio oracion por las madres",
    link: "/events/last/galleryMothers",
    title: "Oración por las madres",
  },
  {
    id: 9,
    imgSrc: "/events/2.webp",
    alt: "Anuncio jornada evangelistica juvenil red gospel",
    link: "/events/last/galleryRedGospel",
    title: "Evento evangelístico Red Gospel",
  },
];
---

<section id="events" class="bg-transparent text-white rounded-lg shadow-lg">
  <div class="relative overflow-hidden rounded-lg shadow-lg mx-auto">
    <div id="slider" class="slider">
      {
        events.map((event) => (
          <div
            class="event-card min-w-full transition-transform duration-500 transform hover:scale-105"
            key={event.id}
          >
            <a href={event.link} aria-label={`Detalles del ${event.alt}`}>
              <img
                src={event.imgSrc}
                alt={event.alt}
                class="event-img w-full h-full object-cover rounded-lg shadow-lg"
                loading="lazy"
              />
              <div class="event-title-container">
                <h3 class="event-title">{event.title}</h3>
              </div>
              <div class="progress-shadow" />
            </a>
          </div>
        ))
      }
      {
        events.slice(0, 1).map((event) => (
          <div
            class="event-card min-w-full transition-transform duration-500 transform hover:scale-105"
            key={`${event.id}-clone`}
          >
            <a href={event.link} aria-label={`Detalles del ${event.alt}`}>
              <img
                src={event.imgSrc}
                alt={event.alt}
                class="event-img w-full h-full object-cover rounded-lg shadow-lg"
                loading="lazy"
              />
              <div class="event-title-container">
                <h3 class="event-title">{event.title}</h3>
              </div>
              <div class="progress-shadow" />
            </a>
          </div>
        ))
      }
    </div>
    <button id="prev" class="slider-button left-2" aria-label="Anterior">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button id="next" class="slider-button right-2" aria-label="Siguiente">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</section>

<script src="../js/event.js"></script>
