---
import "../styles/components/event.css";
const events = [
  {
    id: 1,
    imgSrc: "/img/Belgica.webp",
    alt: "Anuncio",
    link: "/ministries/missions/belgica",
  },
  {
    id: 2,
    imgSrc: "/prayerFathers/16.webp",
    alt: "Anuncio oracion por los padres",
    link: "/events/last/galleryFathers",
  },
  {
    id: 3,
    imgSrc: "/encuentro2024/2.webp",
    alt: "Anuncio encuentro con jesus 2024",
    link: "/events/last/galleryEncuentro",
  },
  {
    id: 4,
    imgSrc: "/youths/1.webp",
    alt: "Anuncio",
    link: "/ministries/youths/youth",
  },
  {
    id: 5,
    imgSrc: "/concert/7.webp",
    alt: "Anuncio concierto bautizados en fuego",
    link: "/events/last/galleryConcert",
  },
  {
    id: 6,
    imgSrc: "/prayerMothers/3.webp",
    alt: "Anuncio oracion por las madres",
    link: "/events/last/galleryMothers",
  },
  {
    id: 7,
    imgSrc: "/redGospel/4.webp",
    alt: "Anuncio jornada evangelistica juvenil red gospel",
    link: "/events/last/galleryRedGospel",
  },
];
---

<section id="events" class="bg-transparent text-white rounded-lg shadow-lg">
  <div class="relative overflow-hidden rounded-lg shadow-lg mx-auto">
    <div
      id="slider"
      class="flex transition-transform duration-1000 ease-in-out"
    >
      {
        events.map((event) => (
          <div
            class="event-card min-w-full transition-transform duration-500 transform hover:scale-105"
            key={event.id}
          >
            <a href={event.link} aria-label={`Detalles del ${event.alt}`}>
              <img
                src={event.imgSrc}
                alt={event.alt}
                class="w-full h-full object-cover rounded-lg shadow-lg"
                loading="lazy"
              />
            </a>
          </div>
        ))
      }
    </div>
    <button
      id="prev"
      class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full hover:bg-gray-600 transition-all duration-300"
      aria-label="Anterior"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button
      id="next"
      class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full hover:bg-gray-600 transition-all duration-300"
      aria-label="Siguiente"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
    <div
      class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2 w-full px-4"
    >
      {
        events.map((_, index) => (
          <div
            class="progress-bar h-1 flex-1 bg-gray-700 relative overflow-hidden rounded"
            key={index}
          >
            <div
              class={`progress-fill absolute top-0 left-0 h-full ${index === 0 ? "w-full bg-gray-400" : "w-0"}`}
              style="transition: width 5s linear"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<script src="../js/event.js"></script>
