---
import "../styles/components/event.css";
const events = [
  {
    id: 1,
    imgSrc: "/img/Argelia.webp",
    alt: "Anuncio de oración misionera por Argelia",
    link: "/ministries/missions/argelia",
    title: "Oración misionera por Argelia",
  },
  {
    id: 2,
    imgSrc: "/noahArk/2.webp",
    alt: "Anuncio del musical El Arca de Salvación",
    link: "/events/last/galleryNoahArk",
    title: "Musical El Arca de Noé",
  },
  {
    id: 3,
    imgSrc: "/colombianPray/1.webp",
    alt: "Anuncio de oración por Colombia",
    link: "/events/last/galleryColombianPray",
    title: "Oración por Colombia",
  },
  {
    id: 4,
    imgSrc: "/prayerFathers/16.webp",
    alt: "Anuncio de oración por los padres",
    link: "/events/last/galleryFathers",
    title: "Oración por los padres",
  },
  {
    id: 5,
    imgSrc: "/events/1.webp",
    alt: "Anuncio del encuentro con Jesús 2024",
    link: "/events/last/galleryEncuentro",
    title: "Encuentro con Jesús 2024",
  },
  {
    id: 6,
    imgSrc: "/youths/1.webp",
    alt: "Anuncio de De Jóvenes para Jóvenes",
    link: "/ministries/youths/youth",
    title: "De Jóvenes para Jóvenes",
  },
  {
    id: 7,
    imgSrc: "/concert/7.webp",
    alt: "Anuncio del concierto Bautizados en Fuego",
    link: "/events/last/galleryConcert",
    title: "Concierto Bautizados en Fuego",
  },
  {
    id: 8,
    imgSrc: "/events/3.webp",
    alt: "Anuncio de oración por las madres",
    link: "/events/last/galleryMothers",
    title: "Oración por las madres",
  },
  {
    id: 9,
    imgSrc: "/events/2.webp",
    alt: "Anuncio de jornada evangelística juvenil Red Gospel",
    link: "/events/last/galleryRedGospel",
    title: "Evento evangelístico Red Gospel",
  },
];
---

<section id="events" class="bg-transparent text-white rounded-lg shadow-lg">
  <div class="relative overflow-hidden rounded-lg shadow-lg mx-auto">
    <div id="slider" class="slider">
      {
        events.map((event) => (
          <div
            class="event-card min-w-full transition-transform duration-500 transform"
            key={event.id}
          >
            <a
              href={event.link}
              aria-label={`Detalles del evento: ${event.alt}`}
            >
              <img
                src={event.imgSrc}
                alt={event.alt}
                class="event-img w-full h-full object-cover rounded-lg shadow-lg"
                loading="lazy"
              />
              <div class="event-title-container">
                <h3 class="event-title">{event.title}</h3>
              </div>
              <div class="progress-shadow" />
            </a>
          </div>
        ))
      }
      {
        events.slice(0, 1).map((event) => (
          <div
            class="event-card min-w-full transition-transform duration-500 transform"
            key={`${event.id}-clone`}
          >
            <a
              href={event.link}
              aria-label={`Detalles del evento: ${event.alt}`}
            >
              <img
                src={event.imgSrc}
                alt={event.alt}
                class="event-img w-full h-full object-cover rounded-lg shadow-lg"
                loading="lazy"
              />
              <div class="event-title-container">
                <h3 class="event-title">{event.title}</h3>
              </div>
              <div class="progress-shadow" />
            </a>
          </div>
        ))
      }
    </div>
    <button
      id="prev"
      class="slider-button left-2"
      aria-label="Ver evento anterior"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button
      id="next"
      class="slider-button right-2"
      aria-label="Ver siguiente evento"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</section>

<script src="../js/event.js"></script>
