---
const events = [
  {
    id: 1,
    imgSrc: "/img/Venta.jpg",
    alt: "Anuncio 1",
    link: "/events/sales/lechona",
  },
  {
    id: 2,
    imgSrc: "/img/SantaCena.jpg",
    alt: "Anuncio 2",
    link: "/events/futures/santaCena",
  },
  {
    id: 3,
    imgSrc: "/img/Encuentro2024.jpg",
    alt: "Anuncio 3",
    link: "/events/futures/encuentro",
  },
  {
    id: 4,
    imgSrc: "/concert/6.webp",
    alt: "Anuncio 4",
    link: "/events/last/galleryConcert",
  },
  { id: 5, imgSrc: "/redGospel/4.webp", alt: "Anuncio 5", link: "#anuncio-6" },
  // Añadir más eventos según sea necesario
];
---

<section id="events" class="bg-transparent text-white rounded-lg shadow-lg">
  <div
    class="relative overflow-hidden rounded-lg shadow-lg max-w-screen-lg mx-auto"
  >
    <div
      id="slider"
      class="flex transition-transform duration-1000 ease-in-out"
    >
      {
        events.map((event) => (
          <div
            class="event-card min-w-full transition-transform duration-500 transform hover:scale-105"
            key={event.id}
          >
            <a href={event.link} aria-label={`Detalles del ${event.alt}`}>
              <img
                src={event.imgSrc}
                alt={event.alt}
                class="w-full h-full object-cover rounded-lg shadow-lg"
                loading="lazy"
              />
            </a>
          </div>
        ))
      }
    </div>
    <button
      id="prev"
      class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full hover:bg-gray-600 transition-all duration-300"
      aria-label="Anterior"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button
      id="next"
      class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full hover:bg-gray-600 transition-all duration-300"
      aria-label="Siguiente"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
    <div
      class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2 w-full px-4"
    >
      {
        events.map((_, index) => (
          <div
            class="progress-bar h-1 flex-1 bg-gray-700 relative overflow-hidden rounded"
            key={index}
          >
            <div
              class={`progress-fill absolute top-0 left-0 h-full ${index === 0 ? "w-full bg-gray-400" : "w-0"}`}
              style="transition: width 5s linear"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .event-card {
    aspect-ratio: 16 / 9;
    margin-left: auto;
    margin-right: auto;
  }

  .event-card img {
    transition: transform 0.3s ease;
  }

  .event-card:hover img {
    transform: scale(1.05);
  }

  .progress-bar {
    background-color: #2d3748; /* Tailwind's gray-700 */
  }

  .progress-fill {
    background-color: #a0aec0; /* Tailwind's gray-400 */
    transition: width 5s linear; /* Ensure transition matches the interval */
  }

  #prev,
  #next {
    transition: background 0.3s ease;
  }

  #prev:hover,
  #next:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  @media (min-width: 1024px) {
    #events {
      max-width: 800px;
      margin: 0 auto;
    }

    #slider {
      height: auto;
    }

    .event-card {
      height: auto;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const events = [
      {
        id: 1,
        imgSrc: "/img/Venta.jpg",
        alt: "Anuncio 1",
        link: "#anuncio-1",
      },
      {
        id: 2,
        imgSrc: "/img/SantaCena.jpg",
        alt: "Anuncio 2",
        link: "/events/futures/santaCena",
      },
      {
        id: 3,
        imgSrc: "/img/Encuentro2024.jpg",
        alt: "Anuncio 3",
        link: "/events/futures/encuentro",
      },
      {
        id: 4,
        imgSrc: "/concert/6.webp",
        alt: "Anuncio 4",
        link: "#anuncio-4",
      },
      {
        id: 5,
        imgSrc: "/redGospel/4.webp",
        alt: "Anuncio 5",
        link: "#/events/last/galleryRedGospel",
      },
    ];

    let currentSlide = 0;
    const totalSlides = events.length;
    const slider = document.getElementById("slider");
    const indicators = document.querySelectorAll(".progress-fill");

    const updateSlider = () => {
      slider.style.transform = `translateX(-${currentSlide * 100}%)`;
      indicators.forEach((indicator, index) => {
        indicator.classList.toggle("bg-gray-400", index === currentSlide);
        const indicatorElement = indicator as HTMLElement;
        if (index === currentSlide) {
          indicatorElement.style.width = "100%";
        } else {
          indicatorElement.style.width = "0%";
        }
      });
    };

    const nextSlide = () => {
      currentSlide = (currentSlide + 1) % totalSlides;
      updateSlider();
    };

    const prevSlide = () => {
      currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
      updateSlider();
    };

    document.getElementById("next").addEventListener("click", () => {
      clearInterval(slideInterval);
      nextSlide();
      slideInterval = setInterval(nextSlide, 5000);
    });

    document.getElementById("prev").addEventListener("click", () => {
      clearInterval(slideInterval);
      prevSlide();
      slideInterval = setInterval(nextSlide, 5000);
    });

    let slideInterval = setInterval(nextSlide, 5000);

    updateSlider();
  });
</script>
