---
import "../styles/components/eventCard.css";
const { image, title, date, link } = Astro.props;
---

<div class="event-card">
  <a href={link} aria-label={`Ver detalles del evento ${title}`}>
    <img src={image} alt={title} loading="lazy" />
    <div class="event-card-info">
      <h3 class="text-base font-bold text-nowrap">{title}</h3>
      <p class="text-sm">{date}</p>
    </div>
  </a>
</div>
